
$guideAside:  250px;
$guideAsideBuffer: 10%;
$guideSpace: 80px;
$guideStroke: 2px;
$guideDivide: $guideStroke solid #ddd;

.guide {
  position: relative;
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: $guideAside 1fr;
  &_body {
    padding-left: $guideAsideBuffer;
    padding-right: $guideAsideBuffer;
    padding-bottom: $guideSpace;
  }
  &_menu {
    padding: $guideSpace 30px 30px 30px;
    width: $guideAside;
    border-right: 1px solid #ddd;
    min-height: 100vh;
    ul {
      position: fixed;
    }
    li {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
      display: block;
      a {
        display: block;
      }
    }
  }
}

.guidesection {
  border-top: $guideDivide;
  margin-top: $guideSpace;
  padding-top: $guideSpace - $guideStroke;
  &:first-of-type {
    border-top: 0;
    margin-top: 0;
  }
}
