// Font declarations
// ------------------------------------------------------------------

$fontBrand:     "Averta", "Averta Regular", "Averta-Regular", system-ui, sans-serif!default;
$fontVoice:     "Inconsolata Regular", "Inconsolata-Regular", "Inconsolata", system-ui, monospace!default;
$fontMono:      $fontVoice;


// Font weights (can be numerical or actual font files)
// ------------------------------------------------------------------

$fontThin:        100;
$fontUltraLight:  200;
$fontLight:       300;
$fontNormal:      400;
$fontMedium:      500;
$fontSemiBold:    600;
$fontBold:        700;
$fontExtraBold:   800;
$fontBlack:       900;


// Font defaults
// ------------------------------------------------------------------

$fontDefault:   $fontBrand!default;
