{% set global_styles = "/css" %}
{% set global_assets = "/assets" %}
{% set global_js = "/js" %}

<!doctype html>
<html lang="en-GB" class="">
<head>
  {% include 'layouts/partials/head.html' %}
  <link rel="stylesheet" href="{{ global_styles }}/guide.css">
<body>
<div class="guide">
  <aside class="guide_menu">
    <nav class="guide_navigation">
      <ul>
        <li><a href="typography/">Typography</a></li>
        <li><a href="/assets/icons/renders/sprite.symbol.html">Sprite</a></li>
      </ul>
    </nav>
  </aside>
  <main class="guide_body">
  {% block content %}
  {% endblock %}
  </main>
</div>
</body>
{% block footer_after %}
{% endblock %}
</html>
