html {
  @include sharp-text;
  font-size: $remRoot + px;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  color: $dmText;
  font-family: $fontDefault;
  line-height: $lineheightRoot;
}

a {
  color: $dmAction;
  text-decoration: underline $dmAction;
  @include link-active-styles {
    text-decoration: underline $dmActionRespond;
  }
}

// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
